body{
    font-family: sans-serif;
    background-color: teal;
    text-align: center;
    color: rgb(224, 224, 224);
}

p{
    text-align: justify;
}

h1{
    font-size: 3em;
    color:rgb(224, 224, 224);
}

.color, #monty-hall {
    color: greenyellow;
}

button{
    font-family: sans-serif;
    background: none;
    border: none;
    width: 100px;
    height: 75px;
    background-color: rgb(51, 161, 161);
    color: azure;
    outline:none;
}

button:hover{
    background-color: greenyellow;
}

button:active{
    background-color: rgb(133, 189, 49);
}


.result{
    position: relative;
    width: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgb(15, 102, 102);
}

.intro{
    background-color: rgb(15, 102, 102);

    margin: auto;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.change-percentage, .no-change-percentage{
    font-weight: bold;
    color: greenyellow;
}

